.feature-car {
    background: rgba(0, 0, 0, 0.7) url('../Assets/feature-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}
